/* go to firefox://about:support and enable toolkit.legacyUserProfileCustomizations.stylesheets */
/* put file in mozilla/profile/chrome/userContent.css */
/* Changes to userContent.css won't get picked up by firefox until restart */
@-moz-document domain("example.com") {
    :root {
        --auto-font-color: #80a0c0 !important;
        --auto-font-hover-color: #80a0c0 !important;
        --auto-card-hover-color: #5e81ac !important;
        --auto-card-color: #434c5e !important;
        --auto-background-color: #2e3440 !important;
        --auto-img-background-tint: #000000 !important;
        --auto-glow-color-value: #000000 !important;
    }
}